<header><h1>Movies</h1></header>

<span>{{ errorMessage }}</span>
<div class="data-form">
  <form #bookForm="ngForm" (ngSubmit)="newMovie()">
    <div class="form-group">
      <label for="name">Movie ID</label>
      <input
        name="MovieId"
        [(ngModel)]="movie.id"
        type="text"
        class="form-control"
        id="moviename"
        placeholder="Put Movie Id Here:"
        required
      />
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input
        name="Moviename"
        [(ngModel)]="movie.name"
        type="text"
        class="form-control"
        id="Moviename"
        placeholder="Put Movie Name Here:"
        required
      />
    </div>

    <div class="form-group">
      <label for="name">Language</label>
      <input
        name="Movielanguage"
        [(ngModel)]="movie.language"
        type="text"
        class="form-control"
        id="Moviename"
        placeholder="Put Movie Language Here:"
        required
      />
    </div>
    <div class="form-group">
      <label for="name">Rating</label>
      <input
        name="MovieRating"
        [(ngModel)]="movie.rating"
        type="text"
        class="form-control"
        id="Moviename"
        placeholder="Put Movie Language Here:"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Add Movie Here</button>
  </form>

  <form #bookForm="ngForm" (ngSubmit)="updateMovie()">
    <div class="form-group">
      <label for="name">Movie ID</label>
      <input
        name="MovieId"
        [(ngModel)]="movie.id"
        type="text"
        class="form-control"
        id="moviename"
        placeholder="Put Movie Id Here:"
        required
      />
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input
        name="Moviename"
        [(ngModel)]="movie.name"
        type="text"
        class="form-control"
        id="Moviename"
        placeholder="Put Movie Name Here:"
        required
      />
    </div>

    <div class="form-group">
      <label for="name">Language</label>
      <input
        name="Movielanguage"
        [(ngModel)]="movie.language"
        type="text"
        class="form-control"
        id="Moviename"
        placeholder="Put Movie Language Here:"
        required
      />
    </div>
    <div class="form-group">
      <label for="name">Rating</label>
      <input
        name="MovieRating"
        [(ngModel)]="movie.rating"
        type="text"
        class="form-control"
        id="Moviename"
        placeholder="Put Movie Rating Here:"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Update Movie Here</button>
  </form>
  
  <form #bookForm="ngForm" (ngSubmit)="deleteMovie()">
    <div class="form-group">
      <label for="name">Movie ID</label>
      <input
        name="MovieId"
        [(ngModel)]="movie.id"
        type="text"
        class="form-control"
        id="moviename"
        placeholder="Put Movie Id Here:"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Delete Movie</button>
  </form>
</div>

<div class="data-table">
  <table class="table table-striped table-light">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" colspan="2">Name</th>
        <th scope="col">Language</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td colspan="2">{{ movie.name }}</td>
        <td>{{ movie.language }}</td>
        <td>{{ movie.rating }}</td>
      </tr>
    </tbody>
  </table>
</div>
